# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\לימודים\שנה ג\סמסטר ה\תקשורת נתונים\עבודות בית\האקתון\Hack2021Team2015\Hack2021Team2015\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
